.card {
	@apply relative my-8 mb-8 grid grid-cols-3 gap-5 bg-opacity-70 p-10 bg-light-gray;
	border-radius: 2rem;
	
	.information {
		> h2 {
			@apply mb-5 text-3xl font-bold leading-tight text-dark-beige;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			
		}
		
		> div {
			@apply mb-12;
			> p {
				@apply mb-4 text-beige;
			}
		}
		
		> button {
			@apply mr-4 rounded-2xl bg-white transition-colors duration-300 ease-linear last:mr-0;
			&.active {
				@apply opacity-80 bg-green;
				//				background-color: #6C946B;
			}
		}
	}
	
	.image {
		@apply text-center ;
		.main {
			
			@apply mx-auto w-[18.4rem] h-[18.4rem] flex justify-center items-center overflow-hidden rounded-full bg-white p-7 bg-light-gray;
			box-shadow: 0px 5px 100px -50px #6c946b;
			
			img {
				@apply -mt-10;
			}
		}
		
		.price {
			@apply -mt-[3.75rem] text-2xl font-bold text-green;
		}
	}
	
	.variations {
		.rating {
			> span {
				@apply mr-2 text-sm font-bold;
			}
		}
	}
}